{
    "nodes":[
        {
            "mac":[
                "52:54:00:bd:80:01"
            ],
            "name":"controller1",
            "cpu":"4",
            "memory":"8192",
            "disk":"90",
            "arch":"x86_64",
            "pm_type":"pxe_ipmitool",
            "pm_user":"root",
            "pm_password":"secrete",
            "pm_addr":"192.168.24.254",
            "pm_port": "624",
            "capabilities": "profile:control,boot_option:local"
        },
        {
            "mac":[
                "52:54:00:bd:80:02"
            ],
            "name":"controller2",
            "cpu":"4",
            "memory":"8192",
            "disk":"90",
            "arch":"x86_64",
            "pm_type":"pxe_ipmitool",
            "pm_user":"root",
            "pm_password":"secrete",
            "pm_addr":"192.168.24.254",
            "pm_port": "625",
            "capabilities": "profile:control,boot_option:local"
        },
        {
            "mac":[
                "52:54:00:bd:80:03"
            ],
            "name":"controller3",
            "cpu":"4",
            "memory":"8192",
            "disk":"90",
            "arch":"x86_64",
            "pm_type":"pxe_ipmitool",
            "pm_user":"root",
            "pm_password":"secrete",
            "pm_addr":"192.168.24.254",
            "pm_port": "626",
            "capabilities": "profile:control,boot_option:local"
        },
        {
            "mac":[
                "52:54:00:bd:80:05"
            ],
            "name":"compute1",
            "cpu":"4",
            "memory":"8192",
            "disk":"90",
            "arch":"x86_64",
            "pm_type":"pxe_ipmitool",
            "pm_user":"root",
            "pm_password":"secrete",
            "pm_addr":"192.168.24.254",
            "pm_port": "627",
            "capabilities": "profile:compute,boot_option:local"
        },
        {
            "mac":[
                "52:54:00:bd:80:06"
            ],
            "name":"compute2",
            "cpu":"4",
            "memory":"8192",
            "disk":"90",
            "arch":"x86_64",
            "pm_type":"pxe_ipmitool",
            "pm_user":"root",
            "pm_password":"secrete",
            "pm_addr":"192.168.24.254",
            "pm_port": "628",
            "capabilities": "profile:compute,boot_option:local"
{% if enable_ceph_storage | bool %}
        },
        {
            "mac":[
                "52:54:00:bd:80:07"
            ],
            "name":"ceph1",
            "cpu":"2",
            "memory":"2048",
            "disk":"90",
            "root_device": {
               "by_path":"/dev/disk/by-path/pci-0000:00:09.0"
                },
            "arch":"x86_64",
            "pm_type":"pxe_ipmitool",
            "pm_user":"root",
            "pm_password":"secrete",
            "pm_addr":"192.168.24.254",
            "pm_port": "629",
            "capabilities": "profile:ceph-storage,boot_option:local"
        },
        {
            "mac":[
                "52:54:00:bd:80:08"
            ],
            "name":"ceph2",
            "cpu":"2",
            "memory":"2048",
            "disk":"90",
            "root_device": {
               "by_path":"/dev/disk/by-path/pci-0000:00:09.0"
                },
            "arch":"x86_64",
            "pm_type":"pxe_ipmitool",
            "pm_user":"root",
            "pm_password":"secrete",
            "pm_addr":"192.168.24.254",
            "pm_port": "630",
            "capabilities": "profile:ceph-storage,boot_option:local"
        },
        {
            "mac":[
                "52:54:00:bd:80:09"
            ],
            "name":"ceph3",
            "cpu":"2",
            "memory":"2048",
            "disk":"90",
            "root_device": {
               "by_path":"/dev/disk/by-path/pci-0000:00:09.0"
                },
            "arch":"x86_64",
            "pm_type":"pxe_ipmitool",
            "pm_user":"root",
            "pm_password":"secrete",
            "pm_addr":"192.168.24.254",
            "pm_port": "631",
            "capabilities": "profile:ceph-storage,boot_option:local"
        }
{% else %}
        }
{% endif %}
    ]
}
