#!/bin/bash
# Prepare the undercloud for deploy

set -eux

# Source in undercloud credentials.
source /home/stack/stackrc

cd /home/stack/images
find /usr/share/rhosp-director-images -name '*.tar' -exec tar xf {} \;
[ -d "/usr/share/rhosp-director-images-ipa" ] && find /usr/share/rhosp-director-images-ipa -name '*.tar' -exec tar xf {} \;

# Set overcloud root password
# virt-customize -a overcloud-full.qcow2 --root-password password:admin_pass_var

# Import images
openstack overcloud image upload --update-existing

# Import inventory
openstack overcloud node import /home/stack/instackenv.json

# Associate images to nodes
#openstack baremetal configure boot

# copy undercloud cert into undercloud_ssl_camap yml for injection into control nodes
sudo cat /etc/pki/tls/certs/undercloud-192.168.24.2.pem | sed 's/^/        /' >> /home/stack/templates/undercloud_ssl_camap.yaml
sudo chown stack:stack /home/stack/templates/undercloud_ssl_camap.yaml

# set dns servers
openstack subnet set --dns-nameserver 8.8.8.8 --dns-nameserver 8.8.4.4 ctlplane-subnet

openstack overcloud container image prepare \
{% if enable_sahara | bool %}
  -e /usr/share/openstack-tripleo-heat-templates/environments/services-docker/sahara.yaml \
{% endif %}
  -e /usr/share/openstack-tripleo-heat-templates/environments/services-docker/sahara.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/services-docker/manila.yaml \
{% if enable_octavia | bool %}
  -e /usr/share/openstack-tripleo-heat-templates/environments/services-docker/octavia.yaml \
{% endif %}
{% if enable_ceph_storage | bool %}
  -e /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-ansible.yaml \
  --set ceph_namespace=registry.access.redhat.com/rhceph \
  --set ceph_image=rhceph-3-rhel7 \
{% endif %}
  -e /usr/share/openstack-tripleo-heat-templates/environments/services-docker/neutron-ovn-ha.yaml \
  --namespace=registry.access.redhat.com/rhosp13 \
  --push-destination=192.168.24.1:8787 \
  --prefix=openstack- \
  --tag-from-label {version}-{release} \
  --output-env-file=/home/stack/templates/overcloud_images.yaml \
  --output-images-file /home/stack/local_registry_images.yaml

sudo openstack overcloud container image upload \
  --config-file  /home/stack/local_registry_images.yaml \
  --verbose
