#!/bin/bash

# Prepare the undercloud for deploy

set -eux

# Source in undercloud credentials.
source /home/stack/stackrc

cd /home/stack/images
find /usr/share/rhosp-director-images -name '*.tar' -exec tar xf {} \;
[ -d "/usr/share/rhosp-director-images-ipa" ] && find /usr/share/rhosp-director-images-ipa -name '*.tar' -exec tar xf {} \;

# Set overcloud root password
# virt-customize -a overcloud-full.qcow2 --root-password password:admin_pass_var

# Import images
openstack overcloud image upload --update-existing

# Import inventory
openstack overcloud node import /home/stack/instackenv.json

# Associate images to nodes
#openstack baremetal configure boot

# set dns servers
openstack subnet set --dns-nameserver 8.8.8.8 --dns-nameserver 8.8.4.4 ctlplane-subnet

# Tagging nodes roles and names, we require to know the servers IDs first
openstack baremetal node list | grep controller1 | awk '{print $2}' | xargs -I '{}' openstack baremetal node set --property capabilities='profile:control,boot_option:local' '{}'
openstack baremetal node list | grep controller2 | awk '{print $2}' | xargs -I '{}' openstack baremetal node set --property capabilities='profile:control,boot_option:local' '{}'
openstack baremetal node list | grep controller3 | awk '{print $2}' | xargs -I '{}' openstack baremetal node set --property capabilities='profile:control,boot_option:local' '{}'
openstack baremetal node list | grep compute1 | awk '{print $2}' | xargs -I '{}' openstack baremetal node set --property capabilities='profile:compute,boot_option:local' '{}'
openstack baremetal node list | grep compute2 | awk '{print $2}' | xargs -I '{}' openstack baremetal node set --property capabilities='profile:compute,boot_option:local' '{}'
openstack baremetal node list | grep ceph1 | awk '{print $2}' | xargs -I '{}' openstack baremetal node set --property capabilities='profile:ceph-storage,boot_option:local' '{}'
openstack baremetal node list | grep ceph2 | awk '{print $2}' | xargs -I '{}' openstack baremetal node set --property capabilities='profile:ceph-storage,boot_option:local' '{}'

#openstack baremetal node list | grep swift1 | awk '{print $2}' | xargs -I '{}' openstack baremetal node set --property capabilities='profile:swift-storage,boot_option:local' '{}'
#openstack baremetal node list | grep swift2 | awk '{print $2}' | xargs -I '{}' openstack baremetal node set --property capabilities='profile:swift-storage,boot_option:local' '{}'

openstack overcloud container image prepare \
  --namespace=registry.access.redhat.com/rhosp13 \
  --push-destination=192.168.24.1:8787 \
  --prefix=openstack- \
  --tag-from-label {version}-{release} \
  --output-env-file=/home/stack/templates/overcloud_images.yaml \
  --output-images-file /home/stack/local_registry_images.yaml

sudo openstack overcloud container image upload \
  --config-file  /home/stack/local_registry_images.yaml \
  --verbose
