---
- name: Register OSP 13 repos on Nodes
  hosts: Controller:Compute:CephStorage:SwiftStorage
  become: yes
  vars:
    repos:
      - rhel-7-server-rpms
      - rhel-7-server-extras-rpms
      - rhel-7-server-rh-common-rpms
      - rhel-ha-for-rhel-7-server-rpms
      - rhel-7-server-openstack-13-rpms
  tasks:
    - name: Register system
      redhat_subscription:
        username: "{{ redhat_username }}"
        password: "{{ redhat_password }}"
        pool_ids: "{{ redhat_pool_id }}"
      register: _register_task
      until: _register_task is success
      retries: 3
      delay: 15
      
    - name: Disable all repos
      command: "subscription-manager repos --disable *"
      register: _disable_task
      until: _disable_task is success
      retries: 3
      delay: 15

    - name: Enable Controller node repos
      command: "subscription-manager repos --enable {{ '{{' }} item {{ '}}' }}"
      with_items: "{{ '{{' }} repos {{ '}}' }}"
      register: _enable_task
      until: _enable_task is success
      retries: 3
      delay: 15

- name: Register Ceph Repos
  hosts: Controller:CephStorage
  become: yes
  vars:
    repos:
      - rhel-7-server-rhceph-3-mon-rpms
  tasks:
    - name: Enable Ceph Repos on Controller and Ceph nodes
      command: "subscription-manager repos --enable {{ '{{' }} item {{ '}}' }}"
      with_items: "{{ '{{' }} repos {{ '}}' }}"
      register: _enable_task
      until: _enable_task is success
      retries: 3
      delay: 15
